<%- include('../_layouts/adminHeader') %>

<h2 class="page-title">Add a Product</h2>
<a href="/admin/Product" class="btn btn-primary">Back to all Product</a>
<br><br>

<form method="POST" action="/admin/Product/EditProduct/<%= id %>" enctype="multipart/form-data">
    
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" value="<%= title %>" name="title" placeholder="Title" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="">Description</label>
        <textarea name="description"  class="form-control" rows="10" cols="30" placeholder="Description"><%= desc %></textarea>
    </div>

    <div class="form-group">
        <label for="">Category</label>
        <select name="category" class="form-control">
            <% for(var ct of categories) {%>
                <option value="<%= ct.slug %>" 
                        <% if(ct.slug == category ) { %>
                        selected = "selected"
                        <% } %> 
                ><%= ct.title %></option>
            <% } %>
        </select>
    </div>

    <div class="form-group">
        <label for="">Price</label>
        <input type="text" value="<%= price %>"  name="price" placeholder="Price" class="form-control"/>
    </div>

    <div class="form-group">
            <label for="">Current Images</label>
            <p>
                <% if(image=="") {%>
                <img src="/images/noimage.png" id='imageView'/>
                <% } else {%>
                    <img id="imageView" src="/product_images/<%= id %>/<%= image %>" alt="" />
                <% } %>
            </p>
    </div>

    <div class="form-group">
        <label for="">Upload Image</label>
        <input type="file"  name="image"  class="form-control" onchange="document.getElementById('imagePreview').src=window.URL.createObjectURL(this.files[0])" id="img_input"/>
        <img src="#" id="imagePreview"  alt=""/>
    </div>

    <input type="hidden" name="pimage" value="<%= image %>"/>

    <button class="btn btn-success">Submit</button>
</form>

<hr>

<h3 class="page-header">Gallery</h3>
<ul class="gallery">
    <% for(var gi of galleryImages) {%>

        <% if(gi!="thumbs") {%>
            <li>
                <img src="/product_images/<%= id %>/gallery/thumbs/<%= gi %>" alt="" /> &nbsp;
                <a class="confirmDeletion" href="/admin/product/deleteProduct/<%= gi %>?product_id=<%= id %>">Delete</a>
            </li>
        <% } %>

    <% } %>
</ul>

<form method="POST" class="dropzone" id="dropzoneForm" action="/admin/product/productGallery/<%= id %>" enctype="multipart/form-data">
    <div class="fallback">
        <input type="file" name="file" multiple/>
        <input type="submit" value="Upload"/>
    </div>
</form>

                                <!--- Dropzone CDN --->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/basic.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>
                                <!--- Dropzone CDN  --->

                                <!-- For support jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script> 
                                <!-- For support jquery -->

<script>

/** ---- show image preview using jquery -----
 
    function readUrl(input){
        if(input.files && input.files[0]){
            var reader = new FileReader();

            reader.onload = function(e){
                $("#imagePreview").attr('src', e.target.result).width(100).height(100);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#img_input").change(function(){
            readUrl(this);
    });
*/

//Dropzone
Dropzone.options.dropzoneForm = {
    acceptedFiles:"image/*",
    init: function(){
        this.on("queueComplete",(file)=>{
            setTimeout(() => {
                location.reload();
            }, 1000);
        });
    }
}

</script>


<%- include('../_layouts/adminFooter') %>